.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
  color:white !important;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-family:'JF Flat';
  font-size: 1.0rem
}

.dropdown-item:hover{
  color:pink !important;
 
}

.btn-secondary:hover {
    text-decoration: none;
    color: black !important;
    background:pink !important
      }

.dropdown-toggle,.dropdown-item{

  letter-spacing: 0.5px;
  font-weight: bold;
  font-family:'JF Flat';
  font-size: 1.0rem;
cursor: pointer;
}